@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Apply the Montserrat font to the whole document */
html {
    font-family: 'Montserrat', sans-serif;
}

/* Background Image */
.image {
    background-image: url("site-assets/encode-logo.svg");
    background-size: 15%;
    background-position: center center;
    background-position-y: -10px;
    background-repeat: repeat;
    display: flex;
    opacity: 0.24;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: -1;
    position: relative;
}

/* Main Content */
.content {
    position: relative;
    z-index: 2;
}

/* Body */
body {
    margin: 0;
    overflow: hidden;
    position: relative;
    background-color: #212020 /*#f0f0f0*/;
}

/* Headings */
h1 {
    text-align: center;
    color: #f0f0f0;
}
#questions {
    border: 2px solid #9e55f8 /*#4d84b8*/;
    padding: 20px;
    margin: 0 120px;
    margin-bottom: 40px;
    color: #f0f0f0;
}
h3 {
    margin-left: 25px;
    display: none;
}
#timer {
    top: 0;
    right: 0;
    position: absolute;
    margin-right: 40px;
    font-size: x-large;
    color: #f0f0f0;
}
