@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

/* Apply the Montserrat font to the whole document */
html {
    font-family: 'Montserrat', sans-serif;
}

/* Background Image */
.image {
    background-image: url("site-assets/halocon-logo.svg");
    background-size: 15%;
    background-position: center center;
    background-position-y: -10px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: -1;
}

/* Main Content */
.content {
    position: relative;
    z-index: 1;
}

/* Body */
body {
    margin: 0;
    overflow: hidden;
    position: relative;
    background-color: #f0f0f0;
}

/* Headings */
h1 {
    text-align: center;
    color: #9e55f8;
}

/* Input Styles */
input[type="text"] {
    width: 250px;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 10px;
    margin-left: 8px;
}

/* Submit Button */
input[type="submit"] {
    background-color: #9e55f8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease-in-out;
}

/* Hover effect for submit button */
input[type="submit"]:hover {
    background-color: #7b3fb4;
}
